#page_footer {
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 15vh;
  background-color: #0D0221;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr;
}
#page_footer > .arthas_bot_footer {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  grid-template-rows: 8vh 8vh 8vh;
}
#page_footer > .arthas_bot_footer > h4 {
  font-size: 0.75em;
  color: #A6CFD5;
}
#page_footer > .arthas_bot_footer > a {
  text-decoration: none;
  color: #0D0221;
  background-color: #A6CFD5;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.75em;
}
#page_footer > .arthas_bot_footer > p {
  font-size: 0.75em;
  color: #A6CFD5;
}
#page_footer > .suggestions_tab {
  display: grid;
  align-items: center;
  justify-items: start;
  justify-items: center;
  text-align: center;
  grid-template-rows: 8vh 8vh;
}
#page_footer > .suggestions_tab > h4 {
  font-size: 0.75em;
  color: #A6CFD5;
}
#page_footer > .suggestions_tab > p {
  font-size: 0.75em;
  color: #0D0221;
  background-color: #A6CFD5;
  padding: 5px;
  border-radius: 5px;
}

@media only screen and (min-width: 770px) {
  #page_footer > .arthas_bot_footer > h4 {
    font-size: 1em;
  }
  #page_footer > .arthas_bot_footer > a {
    font-size: 1em;
  }
  #page_footer > .arthas_bot_footer > p {
    font-size: 1em;
  }
  #page_footer > .suggestions_tab > h4 {
    font-size: 1em;
  }
  #page_footer > .suggestions_tab > p {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1025px) {
  #page_footer > .arthas_bot_footer > h4 {
    font-size: 1.3em;
  }
  #page_footer > .arthas_bot_footer > p {
    font-size: 1.3em;
  }
  #page_footer > .arthas_bot_footer > a {
    font-size: 1.3em;
  }
  #page_footer > .suggestions_tab > h4 {
    font-size: 1.3em;
  }
  #page_footer > .suggestions_tab > p {
    font-size: 1.3em;
  }
}
#page_header {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  min-height: 10vh;
  background-color: #0D0221;
  width: 100%;
  margin-bottom: 25px;
}
#page_header > #container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 50vw 50vw;
  height: 100%;
}
#page_header > #container > .nav_bar {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: start;
  height: 100%;
}
#page_header > #container > .nav_bar > a {
  color: #0D0221;
  background-color: #A6CFD5;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.7em;
}
#page_header > #container > .doc_text {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: start;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}
#page_header > #container > .doc_text > div {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: start;
}
#page_header > #container > .doc_text > div > img {
  width: 50px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  border-width: 5.5px;
  border-style: solid;
  color: #A6CFD5;
}
#page_header > #container > .doc_text > h2 > a {
  font-size: 0.8em;
  font-weight: 800;
  color: #A6CFD5;
  text-decoration: none;
}

@media only screen and (min-width: 770px) {
  #page_header {
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    width: 100%;
  }
  #page_header > #container {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  #page_header > #container > .nav_bar {
    width: 100%;
    text-align: start;
  }
  #page_header > #container > .nav_bar > a {
    font-size: 1.2em;
  }
  #page_header > #container > .doc_text {
    width: 100%;
    grid-template-columns: 20vw 20vw;
  }
  #page_header > #container > .doc_text > div > img {
    width: 75px;
  }
  #page_header > #container > .doc_text > h2 {
    font-size: 2em;
  }
}
@media only screen and (min-width: 1025px) {
  #page_header {
    grid-template-columns: repeat(auto-fit, minmax(770px, 1fr));
    width: 100%;
  }
  #page_header > #container {
    grid-template-columns: 2fr 1fr;
    width: 100%;
  }
  #page_header > #container > .nav_bar {
    width: 100%;
    text-align: start;
  }
  #page_header > #container > .nav_bar > a {
    font-size: 1.4em;
  }
  #page_header > #container > .doc_text {
    width: 100%;
    grid-template-columns: 10vw 15vw;
  }
  #page_header > #container > .doc_text > div > img {
    width: 75px;
  }
  #page_header > #container > .doc_text > h2 {
    font-size: 2.5em;
  }
}
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #A6CFD5;
}

#page_main {
  display: grid;
  justify-items: center;
  align-items: center;
  min-height: 80vh;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
#page_main > #section_main {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
}
#page_main > #section_main > #commands_article {
  display: grid;
  justify-items: center;
  align-items: center;
}
#page_main > #section_main > #commands_article > span {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  grid-template-rows: 10vh 1fr;
}
#page_main > #section_main > #commands_article > span h1 {
  color: #0D0221;
  font-size: 1.5em;
}
#page_main > #section_main > #commands_article > span > div {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 40vw 40vw;
}
#page_main > #section_main > #commands_article > span > div > p {
  background-color: #0D0221;
  color: #A6CFD5;
  padding: 15px;
  border-radius: 10px;
  width: 100px;
  margin-top: 10px;
}
#page_main > #section_main > #main_article {
  display: grid;
  justify-items: center;
  align-items: center;
}
#page_main > #section_main > #main_article > span {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 10vh 30vh 1fr;
  text-align: center;
}
#page_main > #section_main > #main_article > span > div {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 10vh 1fr 10vh 1fr;
}
#page_main > #section_main > #main_article > span > div > p {
  padding: 10px;
  background-color: #0D0221;
  width: 80%;
  color: #A6CFD5;
  border-radius: 10px;
}
#page_main > #section_main > #main_article > span > div > h3 {
  color: #0D0221;
  font-size: 1.2em;
}
#page_main > #section_main > #main_article > span > h1 {
  font-size: 2em;
  color: #0D0221;
}
#page_main > #section_main > #main_article > span > img {
  height: auto;
  width: 90%;
  border-radius: 10px;
}

@media only screen and (min-width: 770px) {
  #page_main {
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  }
  #page_main > #section_main > #commands_article > span h1 {
    font-size: 1.8em;
  }
  #page_main > #section_main > #commands_article > span > div > p {
    font-size: 1.3em;
    width: 80px;
    margin-top: 25px;
  }
  #page_main > #section_main > #main_article > span {
    grid-template-rows: 10vh 1fr 1fr;
  }
  #page_main > #section_main > #main_article > span > div > p {
    width: 75%;
    font-size: 1.3em;
  }
  #page_main > #section_main > #main_article > span > div > h3 {
    font-size: 1.8em;
  }
  #page_main > #section_main > #main_article > span > h1 {
    font-size: 3em;
  }
}
@media only screen and (min-width: 1025px) {
  #page_main {
    grid-template-columns: repeat(auto-fit, minmax(770px, 1fr));
  }
  #page_main > #section_main {
    grid-template-columns: 1fr 1fr;
  }
  #page_main > #section_main > #commands_article > span {
    grid-template-rows: 10vh 1fr;
  }
  #page_main > #section_main > #commands_article > span h1 {
    font-size: 1.8em;
  }
  #page_main > #section_main > #commands_article > span > div {
    grid-template-columns: 20vw 20vw;
  }
  #page_main > #section_main > #commands_article > span > div > p {
    font-size: 1.3em;
    width: 80px;
    margin-top: 25px;
  }
  #page_main > #section_main > #main_article > span {
    grid-template-rows: 10vh 1fr 1fr;
  }
  #page_main > #section_main > #main_article > span > div > p {
    width: 75%;
    font-size: 1.5em;
  }
  #page_main > #section_main > #main_article > span > div > h3 {
    font-size: 2em;
  }
  #page_main > #section_main > #main_article > span > h1 {
    font-size: 3.2em;
  }
}

/*# sourceMappingURL=style.css.map */
