@use "footer";
@use "header";


*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #A6CFD5;
}

#page_main{
    display: grid;
    justify-items: center;
    align-items: center;
    min-height: 80vh;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    >#section_main{
        display: grid;
        justify-items: center;
        align-items: center;
        width: 100%;


        >#commands_article{
            display: grid;
            justify-items: center;
            align-items: center;

            >span{
                display: grid;
                justify-items: center;
                align-items: center;
                text-align: center;
                grid-template-rows: 10vh 1fr;
                h1{

                    color: #0D0221;

                    font-size: 1.5em;


                }
           
                >div{
                    display: grid;
                    justify-items: center;
                    align-items: center;
                    grid-template-columns: 40vw 40vw;

                    >p{

                        background-color: #0D0221;
                        color: #A6CFD5;
                        padding: 15px;
                        border-radius: 10px;
                        width: 100px;
                        margin-top: 10px;
                    }
                }
            }

        }

        >#main_article{
            display: grid;
            justify-items: center;
            align-items: center;

            >span{
                display: grid;
                justify-items: center;
                align-items: center;
                grid-template-rows: 10vh 30vh 1fr;
                text-align: center;

                >div{

                    display: grid;
                    align-items: center;
                    justify-items: center;
                    grid-template-rows: 10vh 1fr 10vh 1fr;
                    >p{

                        padding: 10px;
                        background-color: #0D0221;
                        width: 80%;
                        color: #A6CFD5;
                        border-radius: 10px;

                    }

                    >h3{

                        color: #0D0221;
                        font-size: 1.2em;
                        
                 
                    }
                }

                >h1{
                    font-size: 2em;
                    color: #0D0221;
                    
                }

                >img{

                    height: auto;
                    width: 90%;
                    border-radius: 10px;

                }

        
            }
        }
    }
}


@media only screen and (min-width: 770px){
    #page_main{
        grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
        >#section_main{

           
    
            >#commands_article{

    
                >span{

                    h1{
    

                        font-size: 1.8em;
    
                    }
               
                    >div{

                        >p{
    
                            font-size: 1.3em;
                            width: 80px;
                            margin-top: 25px;

                        }
                    }
                }
    
            }
    
            >#main_article{

    
                >span{
                    grid-template-rows: 10vh 1fr 1fr;
    
                    >div{
    

                        >p{
    
                            width: 75%;
   
                            font-size: 1.3em;
    
                        }

                        >h3{

                            font-size: 1.8em;
                        }
                    }
    
                    >h1{

                        font-size: 3em;
                    }
    
                    >img{
    

    
                    }
    
            
                }
            }
        }
    }
    
}

@media only screen and (min-width: 1025px){
    #page_main{
        grid-template-columns: repeat(auto-fit, minmax(770px, 1fr));
        >#section_main{
            grid-template-columns: 1fr 1fr;
    
            >#commands_article{

    
                >span{
                    
                    grid-template-rows: 10vh 1fr;
                    

                    h1{
    

                        font-size: 1.8em;
    
                    }
               
                    >div{
                        grid-template-columns: 20vw 20vw;
                        >p{
    
                            font-size: 1.3em;
                            width: 80px;
                            margin-top: 25px;

                        }
                    }
                }
    
            }
    
            >#main_article{

    
                >span{
                    grid-template-rows: 10vh 1fr 1fr;
    
                    >div{
    

                        >p{
    
                            width: 75%;
   
                            font-size: 1.5em;
    
                        }

                        >h3{

                            font-size: 2em;
                        }
                    }
    
                    >h1{

                        font-size: 3.2em;
                    }
    
                    >img{
    

    
                    }
    
            
                }
            }
        }
    }
    
}

